* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar*/
.navbar {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.imagen {
    display: flex;
}

.imagen img {
    width: 100xp;
    height: 30px;
}

.Taco {
    color: #e76209;
}

.barrita_buscar {
    display: flex;
    justify-content: flex-end;
}

.barrita_buscar input {
    padding: 10px;
}

.barrita_buscar img {
    width: 25px;
    height: 25px;
}

.carrito {
    margin-right: 20px;
}

.login {
    background-color: #ff5700;
    border: none;
    width: 60px;
    color: white;
}

/*Navbar*/

/*comidas*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comidas {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #ffe7c6;
    padding: 10px;
}

.comiditas {
    text-align: center;
}

.comiditas img {
    width: 160px;
    height: 150px;
}

/*comidas*/

/*info*/

.info {
    display: flex;
    margin: 20px;
}

.Recomendados img {
    width: 250px;
    height: 160px;
}

.Lamejor_variedad {
    display: flex;

}

.comida-mexicana img {
    width: 600px;
}

.gris {
    background-color: #c5c5c5;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.platillos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 10px;
}

.platillos a {
    color: black;
}

.domicilio {
    color: #e76209;
}

/*info*/

/*Recomendados*/
.Recomendados1 {
    margin-left: 15px;
}

.Recomendados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 20px;
}

.Más{
        width: 30px;
    height: 30px;
    border-radius: 60%;
    border: none;
    background-color: #e76209;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 215px;
}
.Maz{
        width: 30px;
    height: 30px;
    border-radius: 60%;
    border: none;
    background-color: #e76209;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 165px;
}
.caja{
    border: solid 1px rgb(206, 201, 201);
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}
